<SCRIPT LANGUAGE="JavaScript">
  function redireccionar() {
    setTimeout("location.href='/member_attendances/new?csid=<%= @csid %>'", 3000);
  }
</SCRIPT>
<br />
<br />
<br />
<br />
<br />
<br />
<table border="0" cellspace="0" cellpadding="0" width="80%">
  <tr>
    <td align="center">
      <font size="5" color="#461B7E">Welcome <%=  @name %> ! Hope you have a wonderful session.</font>
    </td>
  </tr>
</table>
