<% form_tag :action => "memberselect" do -%>
<p> <b>Member Lookup</b> </p>
<p>
    <label for ="firstname"> FirstName </label><br />
    <%= text_field 'member', 'firstname' %>
  </p>
  <p>
    <label for ="lastname"> LastName </label><br />
    <%= text_field 'member', 'lastname' %>
  </p>
  <p>
    <label for ="emailid"> Email </label><br />
    <%= text_field 'member', 'emailid' %>
  </p>
<br>
  <%= submit_tag "Search", {:action => "memberselect", :controller => "users"} %>
  <br>
<% end %>