<h1>Course Schedules</h1>
<table border="0" cellspacing="0" cellpadding="0" width="80%">
  <tr>
    <td>
      <table border="0" cellspacing="0" cellpadding="0" width="80%">
        <tr>
          <td><%= button_to 'Assign Attended Course', {:action => "course_schedule_search", :member_id => params[:member_id] } %> </td>
        </tr>
        <tr><td>&nbsp;</td></tr>

        <tr><td> <table border="1" cellspacing="0" cellpadding="5" width="100%">
              <tr>
                <td width="2000"><b>Course</b></td>
                <td width="5000"><b>Date attended</b></td>
                <td width="8000"><b>Location</b></td>
              </tr>
              <% if @course_schedules.nil? %>
              <% else %>
                <% for course_schedule in @course_schedules -%>
                  <tr>
                    <td><%= course_schedule.city %>, <%= course_schedule.state %></td>
                  </tr>
                <% end %>
              <% end %>
            </table>
          </td></tr>
      </table>
    </td>
  </tr>
</table>
